@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhMucCauThu";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@using KiemTra7_3.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Cauthu>

<h1>DanhMucCauThu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Họ tên
            </th>
            <th>
                Ngày sinh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                <a asp-controller="Admin" asp-action="ChiTietCauThu" asp-route-idCauThu="@item.CauThuId">Chi Tiet</a> |
                <a asp-action="Details" asp-route-id="@item.CauThuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CauThuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model,page => Url.Action("DanhMucCauThu", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
	LiElementClasses = new List<String> {"page-item"},
	PageClasses = new List<String> {"page-link"}
})